Package: coffee-notes
Version: %VER%
Section: misc
Architecture: all
Priority: optional
Depends: python (>= 2.6), python-qt4 (>=4.7)
Maintainer: Dmitri Brechalov <dbrechalov@gmail.com>
Description: Simple note-taking application inspired by Notational Velocity
